.solar-system-wrapper{
    background-image: url(../../assets/images/planets/background\ planets.jpg);
    background-size: 150%;
    background-repeat: repeat;
    padding: 2em 0;
    padding-right: 2em;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.solar-system-wrapper img:hover:not(.sun, .giantsDeepTelescope, .whiteHole, .whiteHoleStation){
    transform: scale(1.125);
}

.sun{
    width: 50%;
}

.sunStation{
    margin-left: 3px;
    transition: 0.5s ease-in-out;
    width: 10%;
}

.hourglassTwins{
    margin-left: 7vw;
    transition: 0.5s ease-in-out;
    width: 23%;
}

.theAttlerock{
    margin-left: 5vw;
    transition: 0.5s ease-in-out;
    width: 13%;
}

.timberHeart{
    margin-left: 1.5vw;
    transition: 0.5s ease-in-out;
    width: 45%;
}

.hollowsLantern{
    margin-left: 5vw;
    transition: 0.5s ease-in-out;
    width: 14%;
}

.brittleHollow{
    margin-left: 1.5vw;
    transition: 0.5s ease-in-out;
    width: 45%;
}

.giantsDeepTelescope{
    margin-left: 5vw;
    width: 11%;
}

.giantsDeep{
    position: relative;
    margin-left: 0.5vw;
    transition: 0.5s ease-in-out;
    width: 65%;
}

.darkBramble{
    margin-left: 5vw;
    transition: 0.5s ease-in-out;
    width: 50%;
}

.whiteHole{
    margin-left: 5vw;
    width: 5%;
}

.whiteHoleStation{
    position: absolute;
    right: 5px;
    top: 45%;
    transition: 0.5s ease-in-out;
    width: 1.7%;
}

.theInterloper{
    position: absolute;
    top: 10vh;
    transition: 0.5s ease-in-out;
    right: 70vw;
    width: 5%;
}

.quantumMoon{
    position: absolute;
    top: 15vh;
    transition: 0.5s ease-in-out;
    right: 35vw;
    width: 3%;
}