.solar-system-wrapper{
    background-image: url(../../assets/images/planets/background\ planets.jpg);
    background-size: 150%;
    background-repeat: repeat;
    padding: 2em 0;
    padding-right: 2em;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.solar-system-wrapper img:hover:not(.sun, .giantsDeepTelescope, .whiteHole, .whiteHoleStation){
    transform: scale(1.125);
}

.solar-system-title{
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    padding: 0.8em;
    color: var(--orange);
    font-family: var(--fonte-principal);
    font-size: 1.8em;
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 35%;
}

.sun{
    width: 50%;
}

.sunStation{
    margin-left: 3px;
    transition: 0.5s ease-in-out;
    width: 10%;
}

.hourglassTwins{
    margin-left: 7vw;
    transition: 0.5s ease-in-out;
    width: 23%;
}

.theAttlerock{
    margin-left: 5vw;
    transition: 0.5s ease-in-out;
    width: 13%;
}

.timberHeart{
    margin-left: 1.5vw;
    transition: 0.5s ease-in-out;
    width: 45%;
}

.hollowsLantern{
    margin-left: 5vw;
    transition: 0.5s ease-in-out;
    width: 14%;
}

.brittleHollow{
    margin-left: 1.5vw;
    transition: 0.5s ease-in-out;
    width: 45%;
}

.giantsDeepTelescope{
    margin-left: 5vw;
    width: 11%;
}

.giantsDeep{
    position: relative;
    margin-left: 0.5vw;
    transition: 0.5s ease-in-out;
    width: 65%;
}

.darkBramble{
    margin-left: 5vw;
    transition: 0.5s ease-in-out;
    width: 50%;
}

.whiteHole{
    margin-left: 5vw;
    width: 5%;
}

.whiteHoleStation{
    position: absolute;
    right: 5px;
    top: 45%;
    transition: 0.5s ease-in-out;
    width: 1.7%;
}

.theInterloper{
    position: absolute;
    top: 10vh;
    transition: 0.5s ease-in-out;
    right: 70vw;
    width: 4.2%;
}

.quantumMoon{
    position: absolute;
    top: 15vh;
    transition: 0.5s ease-in-out;
    right: 35vw;
    width: 3%;
}

@media screen and (max-width: 1024px) {
    .solar-system-wrapper{
        height: 90vh;
    }
    .solar-system-title{
        font-size: 1.3em;
    }
    .theInterloper{
        top: 20vh;
    }
}

@media screen and (max-width: 768px) {
    .solar-system-wrapper img:hover:not(.sun, .giantsDeepTelescope, .whiteHole, .whiteHoleStation){
        transform: scale(1.125) rotate(90deg);
    }
    .solar-system-wrapper{
        padding: 0;
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }
    .solar-system-wrapper img{
        transform: rotate(90deg);
    }
    .solar-system-title{
        display: none;
    }
    .sun{
        position: absolute;
        top: -25%;
        left: 41%;
        width: 15vh;
    }
    .sunStation{
        margin-top: 15vh;
        margin-left: 2%;
        width: 3.5%;
    }
    .hourglassTwins{
        margin-right: 3%;
        width: 7vh;
    }
    .theAttlerock{
        margin-right: 3%;
        width: 4.3vh;
    }
    .timberHeart{
        margin-top: 1.5%;
        width: 10vh;
    }
    .hollowsLantern{
        margin-top: 4%;
        margin-right: 3%;
        width: 4.3vh;
    }
    .brittleHollow{
        margin-top: 1.7%;
        width: 10vh;
    }
    .giantsDeepTelescope{
        margin-top: 3%;
        margin-right: 3%;
        width: 3vh;
    }
    .giantsDeep{
        margin-top: 1%;
        width: 15vh;
    }
    .darkBramble{
        margin-top: 5%;
        margin-right: 5%;
        width: 12vh;
    }
    .whiteHole{
        margin-top: 5%;
        margin-bottom: 3px;
        margin-right: 5%;
        width: 2vh;
    }
    .whiteHoleStation{
        position: absolute;
        right: 45%;
        top: 97%;
        transition: 0.5s ease-in-out;
        width: 2.5vh;
    }
    .theInterloper{
        position: absolute;
        top: 50vh;
        transition: 0.5s ease-in-out;
        right: 70vw;
        width: 4.2%;
    }
    .quantumMoon{
        position: absolute;
        top: 35vh;
        transition: 0.5s ease-in-out;
        right: 35vw;
        width: 3%;
    }
}

@media screen and (max-width: 570px) {
    .sun{
        left: 39%;
    }
}

@media screen and (max-width: 425px) {
    .sun{
        left: 33%;
    }
}

@media screen and (max-width: 375px) {
    .sun{
        left: 30%;
    }
}