.space-ship-wrapper{
    background-image: url(../../assets/images/backgound-stars.jpg);
    height: 101vh;
    width: 100vw;
}

.planet{
    animation: planet-fade 3s linear;
    background-image: url(../../assets/images/backgound-nave.jpg);
    background-repeat: no-repeat;
    height: 644px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateZ(-200px);
    width: 774px;
    z-index: 2;
}

@keyframes planet-fade {
    0%{
        opacity: 0;
    }
    100%{
        transform: translateZ(0);
        opacity: 1;
    }
}

.header-logo{
    animation: logo-fade 3s ease-in forwards;
    animation-delay: 2.5s;
    margin-top: 6%;
    margin-left: 5%;
    opacity: 0;
    height: auto;
    width: 40%;
}

@keyframes logo-fade {
    100%{
        opacity: 1;
    }
}