.footer{
    background-color: black;
    color: var(--orange);
    font-family: var(--fonte-principal);
    padding: 3em 3em;
    border-top: 0.5px solid #838383;
}

.footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer h5{
    font-size: 1.5em;
    font-weight: 700;
}

.footer nav ul{
    display: flex;
    font-size: 1.5em;
    gap: 1em;
}

@media screen and (max-width: 768px) {
    .footer{
        padding: 1.5em 1.5em;
    }
    .footer h5{
        font-size: 1.3em;
    }
    .footer nav ul{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 550px) {
    .footer-div{
        flex-direction: column;
        gap: 1em;
    }
}

@media screen and (max-width: 425px) {
    .footer{
        padding: 1.2em 1.2em;
    }
    .footer h5{
        font-size: 1.2em;
    }
    .footer nav ul{
        font-size: 1.2em;
    }
}