.footer{
    background-color: black;
    color: var(--orange);
    font-family: var(--fonte-principal);
    padding: 3em 3em;
    border-top: 0.5px solid #838383;
}

.footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer h3{
    font-size: 1.5em;
    font-weight: 700;
}

.footer nav ul{
    display: flex;
    font-size: 1.5em;
    gap: 1em;
}