html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
    overflow-x: hidden;
}

:root{
    --fonte-principal: 'Josefin Sans', sans-serif;
    --orange: #ff7d25;
    --color-back: #0b1e26;
}

model-viewer {
    animation-delay: 5s;
    height: 250px;
    position: absolute;
    top: 2vh;
    right: 0;
    width: 450px;
    z-index: 9;
}

.txt-content{
    background-color: black;
}

.solar-sistem{
    animation: roda 100s linear infinite;
    animation-delay: 2s;
    overflow: hidden;
    height: auto;
    width: 37%;
    position: absolute;
    top: 122vh;
    right: 10px;
}

@keyframes roda {
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1200px) {
    .solar-sistem{
        top: 145vh;
        opacity: 0.7;
    }
    model-viewer {
        height: 150px;
        top: 4vh;
        width: 300px;
    } 
}

@media screen and (max-width: 768px) {
    .solar-sistem{
        display: none;
    }
    model-viewer {
        height: 100px;
        top: 15vh;
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
    model-viewer {
        height: 70px;
        top: 15vh;
        left: 0;
        width: 150px;
    }
}